.about {
    h1 {
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }
}

.aboutDesc {
    width: 50%;
    margin: auto;
}


.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn {
    h1 {
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        h1 {
            padding-top: 10px;
            font-size: 50px;
        }
    }

    .aboutDesc {
        padding: 20px;
        width: 100%;
        h2 {
            margin-top: 20px;
        }
    }
  }