@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.MuiTooltip-tooltip {
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .MuiTooltip-tooltip {
      font-size: 60px;
    }
  }
